@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');


body {
font-family: font-size;background-image: url(../Imagenes/fondo.jpg);}
h2 {color : #4C0078;}
.enlaces {
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.Pagina {text-decoration: underline;color: black;}
.Chu {text-decoration: underline;color: black;}
.pato {text-decoration: underline;color: black;}
.alfa {text-decoration: underline;color: black;}
.btn-whatsapp {
position: fixed;
bottom: 20px;
right: 20px;
width: 50px; /* antes 60 */
height: 50px; /* antes 60 */
z-index: 100;
}


.btn-whatsapp img {
width: 100%;
height: 100%;
border-radius: 50%;
box-shadow: 0 2px 10px rgba(0,0,0,0.3);
transition: transform 0.3s ease;
}

.btn-whatsapp img:hover {
  transform: scale(1.1);
}




header {

  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 30vh;
}

.redes {
  width: 50px;
}

.rs {
  height: 30%;
  display: flex;
}

.logo {
height: 80%;
}

h1 {
  font-family: "Momo Signature", cursive;
  font-weight: 400;
  font-style: normal;

  font-size: 40px;


  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;


}
footer {

  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 30vh;
}
.pepe{
  width: 50px;
}

row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}
