body {background: #D6B3E8;
font-family: font-size;background-image: url(../Imagenes/fondo.jpg);}
h2 {color : #4C0078;}
h1{
  text-align: center;
}
h1{
  text-decoration: underline;
}
section {background-color: #FCFBBB;
  border: solid 3px;}
header {background-color: #BA91EB;
  border: solid 3px;
  color: #512D80;}
  .Titulo { color: black;
    text-align: center;
    text-decoration: underline;
    background-color: #794AC7
  }
  .Como {color :#610396;
  text-align: center;}
  .enlaces {text-align: left;}
    display: block;
}
