body {background: #D6B3E8;
font-family: font-size;}
h2 {color : #4C0078;}
.Como {color :#610396;}
h1{
  text-align: center;
}
h1{
  text-decoration: underline;
}
.Contactos {text-align: right;}
.contactos {text-align: right;}
.Ima {text-align: right;}
