body {background: #D6B3E8;
font-family: font-size;
background-image: url(../Imagenes/fondo.jpg);
background-attachment: fixed;}
h2 {color : #4C0078;
  }
.Como {color :#610396;
text-align: center;}
.Titulo { color: black;
  text-align: center;
  text-decoration: underline;
  background-color: #794AC7
}
h1{
  text-decoration: underline;
}
.Ima {text-align: right;margin-bottom: 80px;}
section {background-color: #FCFBBB;
  border: solid 3px;

}

header {background-color: #BA91EB;
border: solid 3px;
color: #512D80;}
.enlaces {color:black;
  background-color: #BA91EB;
  border: solid 3px;
  padding: 20px;
}
.Contactos {color: black;}
.btn-whatsapp {
position: fixed;
bottom: 20px;
right: 20px;
width: 50px; /* antes 60 */
height: 50px; /* antes 60 */
z-index: 100;
}


.btn-whatsapp img {
width: 100%;
height: 100%;
border-radius: 50%;
box-shadow: 0 2px 10px rgba(0,0,0,0.3);
transition: transform 0.3s ease;
}

.btn-whatsapp img:hover {
  transform: scale(1.1);
}

img {justify-content: center;}
footer {

  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 30vh;
}
.rs {
  height: 30%;
  display: flex;
}
.redes {
  width: 50px;
}
