body {background: #D6B3E8;
font-family: font-size;}
h2 {color : #4C0078;}
h1{
  text-align: center;
}
h1{
  text-decoration: underline;
}
.Pagina {text-align: right; text-decoration: underline;}
.doda {text-align: right;}
.Pagina {color: #000000}
